POSTGRES_DB=datawise_people_analytics
POSTGRES_USER=datawise
POSTGRES_PASSWORD=datawise-demo
POSTGRES_PORT=5432

DATABASE_URL=postgresql://datawise:datawise-demo@db:5432/datawise_people_analytics?schema=public
NEXT_PUBLIC_APP_NAME=DataWise People Analytics
APP_PORT=3001

BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=
