DATABASE_URL="postgresql://postgres:postgres@localhost:5432/datawise_people_analytics?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/datawise_people_analytics?schema=public"
NEXT_PUBLIC_APP_NAME="DataWise People Analytics"
BASIC_AUTH_USERNAME=""
BASIC_AUTH_PASSWORD=""
